:root {
    --primary: #4f46e5;
    --secondary: #06b6d4;
    --dark: #1e293b;
    --light: #f8fafc;
    --gray: #1b437a;
}

.header .logo img {
    width: 50px;                 
    height: 50px;
    object-fit: contain;         
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {

    direction: rtl;
    text-align: right;
}

body {
    background: linear-gradient(to right, var(--light), #dcdde4);
    color: var(--dark);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 15px 30px;
    background: rgb(125, 166, 219);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.nav a {
    
      padding: 8px 15px;
    border: 2px solid #7554aa;
    border-radius: 8px;
    color: #06b6d4;
    transition: 0.3s;
    
    color: rgb(203, 209, 206);
    background-color: #e6ba2a;

    margin: 0 10px;
    text-decoration: none;
    color: var(--dark);
    transition: 0.3s;
}
.auth a {
    border: 2px solid #7554aa;
    padding: 8px 15px;
    border-radius: 8px;
    margin-left: 5px;
    text-decoration: none;
    background-color: #e6ba2a;
     transition: 0.3s;
}

button {
    background: linear-gradient(45deg, #d8ac1c,#e6ba2a);
    color: white;
    padding: 10px 20px;
    border: #e9780e;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}



.hero {
    padding: 60px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
    animation: fadeIn 2s ease-in-out;
}

.hero p {
    color: var(--gray);
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.grid article {
    background: rgb(154, 173, 146);
    padding: 20px;
    border-radius: 12px;
    
    transition: 0.3s;

    .fa-user { color: #4f46e5; }     
.fa-file { color: #970de7; }     
.fa-building { color: #062c72; } 
.fa-star { color: #eae608; }     
.fa-chart-line { color: #e9780e; }
.fa-lock { color: #0fdf20; }
}


.grid article:hover {
    transform: translateY(-10px);
}


.system, .objectives {
    padding: 40px;
}

ul {
    margin-top: 15px;
}

ul li {
    margin: 8px 0;
}

.demo {
    text-align: center;
    padding: 50px;
}

video {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(78, 74, 74, 0.2);
}

#faq {
    padding: 40px;
}

details {
    margin: 10px 0;
    background: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form input, .form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.dashboard {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}



.footer {
    background: linear-gradient(to right, #0f2027, #2c5364);
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    margin: 5px 0;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #00c6ff;
    transform: scale(1.2);
}

copyright {
    margin-top: 20px;
    font-size: 14px;
}



/* 
    Animation
 */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


 @media (max-width: 768px) {

    .grid {
        grid-template-columns: 1fr;
    }

    .dashboard {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

}

